@{
    ViewBag.Title = "Validate";
    Layout = "~/Views/Shared/_Layoutiframe.cshtml";
}

							<div class="alert alert-dismissable alert-success">
								<strong>Well done!</strong> Element created with succsess.
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							</div>
