@{
    ViewBag.Title = "ReportAlarmes";
}


<h2>ReportAlarmes</h2>

@model XtraReport
@{  
    ViewBag.Title = "Report Viewer";  
}

@Html.DevExpress().ReportToolbar(settings =>
{
    settings.Name = "ReportToolbar";
    settings.ReportViewerName = "ReportViewer";
}).GetHtml()
@Html.Action("ReportViewerPartial3")