@model Thermo.Models.Equipement 
<table class="table table-striped">
    <thead>
        <tr>

            <th>Date</th>
            <th>@Resources.Measurements</th>
            <th>Humidité</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var value in ViewData["value"] as List<Thermo.Models.Value>)
                                    {
            <tr>
                <td>@Html.DisplayFor(modemItem3 => value.DateCreation)</td>
                <td>@Html.DisplayFor(modemItem3 => value.Val) C°</td>
                <td>@Html.DisplayFor(modemItem3 => value.humidity) %RH</td>

            </tr>
                                  
                                    }
    </tbody>
</table>
